/* icon-block Block */

.icon-block {
    display: none;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.icon-block[data-block-status="loaded"] {
    display: flex;
}

.icon-block p {
    margin: 0;
}

/* Standard */

.icon-block .background {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.icon-block .background>div {
    height: 100%;
}

.icon-block .background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-height: 700px;
}

.icon-block .foreground.container {
    padding-top: 80px;
    display: flex;
    position: relative;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.icon-block .foreground.container .text {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    margin-bottom: 80px;
}

.icon-block .foreground.container .text .icon-img {
    margin: 0 auto 16px auto;
    height: 80px;
    max-width: 234px;
    overflow: hidden;
}

.icon-block .foreground.container .text>* {
    width: 100%;
}

.icon-block .foreground.container .text .heading-XL,
.icon-block .foreground.container .text .heading-S {
    margin: var(--spacing-s) 0;
}

.icon-block .foreground.container .text .body-M {
    margin-bottom: var(--spacing-m);
}

.icon-block .foreground.container .text .action-area {
    margin-bottom: 0;
}

.icon-block .foreground.container .text .action-area>a {
    margin-right: var(--spacing-m);
    white-space: nowrap;
}

.icon-block .foreground.container .text .action-area>a:last-child {
    margin: 0;
}


.icon-block .foreground.container div {
    flex: 1 1 auto;
}

/* Vertical */

.icon-block.vertical .foreground.container {
    text-align: left;
}

.icon-block.vertical .foreground.container .text .icon-img {
    margin: 0;
    margin-bottom: 8px;
}

.icon-block.vertical .foreground.container .text .action-area>a:not(.con-button) {
    font-size: 14px;
    line-height: 21px;
}


/* Tablet */

@media screen and (min-width: 768px) {
    .icon-block .foreground.container .text .icon-img {
        max-width: 234px;
    }

    /* Vertical */

    .icon-block.vertical .foreground.container {
        gap: 32px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .icon-block.vertical .foreground.container .text {
        flex: 1 1 45%;
    }


    .icon-block.vertical .foreground.container .text:first-child:nth-last-child(3)~.text:last-child {
        padding-right: 55%;
    }
}

/* Desktop */

@media screen and (min-width: 1200px) {
    .icon-block .foreground.container {
        padding: 104px 0;
    }

    .icon-block .foreground.container .text {
        width: 65%;
        margin: 0 auto;
    }

    .icon-block .foreground.container .text .icon-img {
        max-width: 400px;
    }

    /* Vertical */

    .icon-block.vertical .foreground.container {
        flex-wrap: nowrap;
    }

    .icon-block.vertical .foreground.container .text {
        flex: 1 1 25%;
    }

    /* Vertical icon style based on number of items */

    .icon-block.vertical .foreground.container .text:first-child:nth-last-child(3)~.text:last-child {
        padding-right: 0;
    }

    .icon-block.vertical .foreground.container .text:first-child:nth-last-child(2) .icon-img,
    .icon-block.vertical .foreground.container .text:first-child:nth-last-child(2)~.text .icon-img {
        max-width: 400px;
    }

    .icon-block.vertical .foreground.container .text:first-child:nth-last-child(3) .icon-img,
    .icon-block.vertical .foreground.container .text:first-child:nth-last-child(3)~.text .icon-img {
        max-width: 300px;
    }

    .icon-block.vertical .foreground.container .text:first-child:nth-last-child(4) .icon-img,
    .icon-block.vertical .foreground.container .text:first-child:nth-last-child(4)~.text .icon-img {
        max-width: 276px;
    }
}