
:root {
  --padding-s: 40px;
  --padding-m: 48px;
  --padding-l: 52px;
  --gap-xs: 24px;
  --gap-s: 32px;
  --gap-m: 40px;
  --gap-l: 56px;
}

.media {
  margin: 0 auto;
  position: relative;
}

.media.dark {
  color: #fff;
}

.media .background {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media .background picture {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.media .background img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.media > .foreground .media-row {
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap:  var(--gap-xs);
    padding: var(--spacing-m) 0;
    position: relative;
    flex-direction: column;
}


.media.media-reverse-mobile .foreground .media-row {
    flex-direction: column-reverse;
}

.media > .foreground .media-row > div {
    width: 100%;
}

.media .text .detail-M {
  margin-bottom: var(--spacing-xs);
}

.media .text .detail-L {
  margin-bottom: var(--spacing-s);
}

.media .text .heading-XS,
.media .text .heading-S {
  margin-bottom: var(--spacing-xs);
}

.media .text .heading-M {
  margin-bottom: var(--spacing-xs);
}

.media .text .heading-L,
.media .text .heading-XL {
  margin-bottom: var(--spacing-s);
}

.media .text .body-S,
.media .text .body-M {
  margin-bottom: var(--spacing-s);
}

.media .text img {
  max-height: 56px;
}

.media .text .action-area {
  display: flex;
  margin: 0;
  gap: var(--spacing-s);
}

.text .product-area {
  margin: 0 0 var(--spacing-m) 0;
  gap: var(--spacing-xs) var(--spacing-s);
  display: grid;
  grid-template-columns: 1fr;
}

.text .icon {
  text-transform: capitalize;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--link-color);
  margin: 0;
  padding: 0;
}

.text .icon:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

.text .icon img{
  padding-right: 12px;
}

.dark .text .icon,
.dark .text .icon:hover{
  color: white;
}

.media .image img {
  display: block;
  width: 100%;
}

/* Media multiple two-up, three-up, four-up*/
.media[class*="-up"] .foreground {
  max-width: var(--grid-container-width);
  margin: 0 auto;
  padding: var(--spacing-m) 0;
  position: relative;
}
.media[class*="-up"] .foreground > .media-row {
  width: 100%;
  display: block;
  max-width: 100%;
  padding-bottom: var(--spacing-l);
}
.media[class*="-up"] .foreground > .media-row > div:first-of-type {
  margin-right: 0;
  margin-bottom: var(--spacing-m);
}

@media screen and (min-width: 600px) {

  /*media row gap*/
  .media > .foreground .media-row {
    gap: var(--gap-s);
    flex-direction: row;
    max-width: var(--block-container-width-s);
  }

  .media.media-reverse-mobile .foreground .media-row {
    flex-direction: row;
  }

  .media.medium > .foreground .media-row {
    max-width: var(--block-container-width-m);
  }

  .media.large > .foreground .media-row {
    max-width: var(--block-container-width-l);
  }

  .media.large > .foreground .media-row .text { width: 50%; }
  .media.large > .foreground .media-row .image { width: 50%; }

  .media.media--reversed .foreground .media-row > div:first-child {
    order: 2;
  }

  .media .text .product-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* Media multiple */
  .media[class*="-up"] .foreground > div.media-row {
    padding: 0;
  }

  .media.two-up .foreground {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: var(--spacing-ml);
  }

  .media.three-up .foreground {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: var(--spacing-ml);
  }

  .media.four-up .foreground {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: var(--spacing-ml);
  }

  .media.two-up.z-pattern .foreground,
  .media.three-up.z-pattern .foreground,
  .media.four-up.z-pattern .foreground {
    display: flex;
    flex-direction: column;
  }

  .media.two-up.z-pattern .foreground .media-row,
  .media.three-up.z-pattern .foreground .media-row,
  .media.four-up.z-pattern .foreground .media-row {
    max-width: var(--grid-container-width);
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:  var(--spacing-m);
    position: relative;
  }

  .media.two-up.z-pattern .foreground .media-row.z-row-odd,
  .media.three-up.z-pattern .foreground .media-row.z-row-odd,
  .media.four-up.z-pattern .foreground .media-row.z-row-odd {
    flex-direction: row-reverse;
  }

  .media.two-up.z-pattern .foreground .media-row > div:first-of-type,
  .media.three-up.z-pattern .foreground .media-row > div:first-of-type,
  .media.four-up.z-pattern .foreground .media-row > div:first-of-type {
    margin-right: var(--spacing-m);
    margin-bottom: 0;
  }

  .media.two-up.z-pattern .foreground .media-row > div,
  .media.three-up.z-pattern .foreground .media-row > div,
  .media.four-up.z-pattern .foreground .media-row > div {
    flex: 0 0 50%;
  }

}


@media screen and (min-width: 800px) {
  .media > .foreground .media-row {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1000px) {
  .media.large > .foreground .media-row {
    margin: 0 var(--spacing-m);
  }
  .media.two-up .foreground {
    max-width: var(--block-container-width-m);
  }
}
@media screen and (min-width: 1200px) {

  /*media row gap*/
  .media.medium > .foreground .media-row {
    gap: var(--gap-m);
  }
  .media.large > .foreground .media-row {
    gap: var(--gap-l);
    margin: 0 auto;
  }
  .media.large > .foreground .media-row .image { min-width: 700px; }

  /* *-up */
  .media.three-up .foreground { grid-template-columns: repeat(3, 1fr); }
  .media.four-up .foreground { grid-template-columns: repeat(4, 1fr); }
}
