.text.block {
  display: none;
  padding: var(--spacing-xxl) 0;
  position: relative;
}

.text[data-block-status="loaded"] {
  display: block;
}

.text p {
  margin-top: 0;
}

.text a:not(.con-button) {
  color: var(--link-color);
  font-weight: 700;
}

.text a:not(.con-button):hover {
  color: var(--link-hover-color);
}

.text .full-width {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.text .full-width > * {
  max-width: var(--block-container-width-s);
}

.text .full-width .heading-XL,
.text .full-width .heading-L {
  margin: 0 0 var(--spacing-s);
}

.text .full-width p {
  margin: 0;
}

.text .full-width p:not(:last-child) {
  margin: 0 0 var(--spacing-m);
}

.text.vertical .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text.vertical .container .full-width {
  padding-bottom: var(--spacing-xl);
}

.text.vertical p {
  margin-bottom: var(--spacing-m);
}

.text.vertical .container > div:not(.full-width) {
  margin: 0 0 var(--spacing-ml)
}

.text.vertical .container > div:not(.full-width) a:not(.con-button) {
  font-size: var(--type-body-xs-size);
  line-height: var(--type-body-xs-lh);
}

.text.vertical a.outline + a {
  margin-left: var(--spacing-m);
}

.text.vertical .heading-M {
  margin: 0 0 var(--spacing-s);
}

/* Dark styles */

.text.dark {
  color: #FFF;
}

.text.dark a:not(.con-button) {
  color: #FFF;
}

.text.dark a:not(.con-button):hover {
  color: #F5F5F5;
}

.text.dark .con-button.outline {
  border-color: #FFF;
  color: #FFF;
}

.text.dark .con-button.outline:hover {
  background: #FFF;
  color: #000;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .text.vertical .container > div {
    flex: 0 0 calc(50% - calc(var(--spacing-ml) / 2));
  }

  .text.vertical .container .full-width {
    flex: 0 0 100%;
  }
}

/* Desktop */

@media screen and (min-width: 1200px) {
  .text.two-up .container {
    width: calc(var(--grid-column-width) * 10);
  }

  .text.three-up .container > div {
    flex: 0 0 calc(33.333% - calc(var(--spacing-ml) / 2));
  }
}
