/* Z-Pattern v.01 */

.z-pattern {
  margin: 0 auto;
}

.z-pattern > .z-pattern-heading {
    text-align: center;
}

@media screen and (min-width: 600px) {
  .z-pattern .heading-row {
    max-width: var(--block-container-width-s);
  }

  .z-pattern.medium .heading-row {
    max-width: var(--block-container-width-m);
  }

  .z-pattern.large .heading-row {
    max-width: var(--block-container-width-l);
  }
}
