
.z-pattern {
    /*padding: var(--spacing-l) 0;*/
  margin: 0 auto;
}

.z-pattern > .z-pattern-heading {
    text-align: center;
}

@media screen and (min-width: 600px) {
  .z-pattern .container {
    max-width: var(--block-container-width-s);
  }
  .z-pattern.medium .container {
    max-width: var(--block-container-width-m);
  }
  .z-pattern.large .container {
    max-width: var(--block-container-width-l);
  }
}
