@font-face {
  font-family: 'Trebuchet MS';
  size-adjust: 95%;
  src: local('Trebuchet MS'),
    local('TrebuchetMS');
  font-weight: 700;
}

@font-face {
  font-family: 'Trebuchet MS';
  size-adjust: 87%;
  src: local('Trebuchet MS'),
    local('TrebuchetMS');
  font-weight: 400;
}

:root {
  /* Typography */
  --type-detail-xl-size: 20px;
  --type-detail-xl-lh: 25px;
  --type-detail-l-size: 16px;
  --type-detail-l-lh: 20px;
  --type-detail-m-size: 12px;
  --type-detail-m-lh: 15px;

  --type-heading-weight: 700;
  --type-heading-xxxl-size: 44px;
  --type-heading-xxxl-lh: 55px;
  --type-heading-xxl-size: 36px;
  --type-heading-xxl-lh: 45px;
  --type-heading-xl-size: 28px;
  --type-heading-xl-lh: 35px;
  --type-heading-l-size: 24px;
  --type-heading-l-lh: 30px;
  --type-heading-m-size: 20px;
  --type-heading-m-lh: 25px;
  --type-heading-s-size: 18px;
  --type-heading-s-lh: 22.5px;
  --type-heading-xs-size: 16px;
  --type-heading-xs-lh: 20px;

  --type-body-xxl-size: 28px;
  --type-body-xxl-lh: 42px;
  --type-body-xl-size: 22px;
  --type-body-xl-lh: 33px;
  --type-body-l-size: 20px;
  --type-body-l-lh: 30px;
  --type-body-m-size: 18px;
  --type-body-m-lh: 27px;
  --type-body-s-size: 16px;
  --type-body-s-lh: 24px;
  --type-body-xs-size: 14px;
  --type-body-xs-lh: 21px;
  --type-body-xxs-size: 12px;
  --type-body-xxs-lh: 18px;

  --type-code-l-size: 18px;
  --type-code-l-lh: 27px;
  --type-code-m-size: 16px;
  --type-code-m-lh: 24px;
  --type-code-s-size: 14px;
  --type-code-s-lh: 21px;

  /* fonts */
  --body-font-family: 'adobe-clean', 'Trebuchet MS', sans-serif;
  --heading-font-family: var(var(--body-font-family));
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* Spacing */
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-ml: 32px;
  --spacing-l: 48px;
  --spacing-xl: 56px;
  --spacing-xxl: 80px;

  /* Grid */
  --grid-container-width: 83.4%;
  --grid-column-width: 7.025%;

  /* Block Container */
  --block-container-width-s: 800px;
  --block-container-width-m: 1000px;
  --block-container-width-l: 1200px;

  /* colors */
  --link-color: #1473e6;
  --link-hover-color: #105ebd;
  --link-bright-color: #177cf8;
  --background-color: #fff;
  --overlay-background-color: #00000020;
  --highlight-background-color: #00000040;
  --text-color: #000;
}

@media (min-width: 1200px) {
  :root {
    --type-heading-xxxl-size: 80px;
    --type-heading-xxxl-lh: 88px;
    --type-heading-xxl-size: 44px;
    --type-heading-xxl-lh: 55px;
    --type-heading-xl-size: 36px;
    --type-heading-xl-lh: 45px;
    --type-heading-l-size: 28px;
    --type-heading-l-lh: 35px;
    --type-heading-m-size: 24px;
    --type-heading-m-lh: 30px;
    --type-heading-s-size: 20px;
    --type-heading-s-lh: 25px;
    --type-heading-xs-size: 18px;
    --type-heading-xs-lh: 22.5px;
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --grid-container-width: 1200px;
    --grid-column-width: 100px;
  }
}

html {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--body-font-family);
  margin: 0;
  font-size: var(--type-body-m-size);
  line-height: var(--type-body-m-lh);
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

/* Basics */
.container {
  max-width: var(--grid-container-width);
  margin: 0 auto;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-xs);
}

h1 { font-size: var(--type-heading-xxl-size); }
h2 { font-size: var(--type-heading-xl-size); }
h3 { font-size: var(--type-heading-l-size); }
h4 { font-size: var(--type-heading-m-size); }
h5 { font-size: var(--type-heading-s-size); }
h6 { font-size: var(--type-heading-xs-size); }

p, dl, ol, ul, pre, blockquote {
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}

a:link,
a:visited,
a:active,
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--type-body-m-size);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* .dark */
.dark {
  background-color: black;
  color: white;
}

.dark a:hover {
  color: var(--link-bright-color);
}

/* Typography */
.heading-XS {
  font-size: var(--type-heading-xs-size);
  line-height: var(--type-heading-xs-lh);
  font-weight: var(--type-heading-weight);
  margin: 0;
}

.heading-S {
  font-size: var(--type-heading-s-size);
  line-height: var(--type-heading-s-lh);
  font-weight: var(--type-heading-weight);
  margin: 0;
}

.heading-M {
  font-size: var(--type-heading-m-size);
  line-height: var(--type-heading-m-lh);
  font-weight: var(--type-heading-weight);
  margin: 0;
}

.heading-L {
  font-size: var(--type-heading-l-size);
  line-height: var(--type-heading-l-lh);
  font-weight: var(--type-heading-weight);
  margin: 0;
}

.heading-XL {
  font-size: var(--type-heading-xl-size);
  line-height: var(--type-heading-xl-lh);
  font-weight: var(--type-heading-weight);
  margin: 0;
}

.heading-L {
  font-size: var(--type-heading-l-size);
  line-height: var(--type-heading-l-lh);
  font-weight: var(--type-heading-weight);
  margin: 0;
}

.heading-XL {
  font-size: var(--type-heading-xl-size);
  line-height: var(--type-heading-xl-lh);
  font-weight: var(--type-heading-weight);
  margin: 0;
}

.body-M {
  font-size: var(--type-body-m-size);
  line-height: var(--type-body-m-lh);
  margin: 0;
}

.body-S {
  font-size: var(--type-body-s-size);
  line-height: var(--type-body-s-lh);
  margin: 0;
}

.detail-M {
  font-size: var(--type-detail-m-size);
  line-height: var(--type-detail-m-lh);
  font-weight: var(--type-heading-weight);
  text-transform: uppercase;
  margin: 0;
}

.detail-L {
  font-size: var(--type-detail-l-size);
  line-height: var(--type-detail-l-lh);
  font-weight: var(--type-heading-weight);
  text-transform: uppercase;
  margin: 0;
}

/* Buttons */
.con-button {
  color: #FFF;
  border: 2px solid;
  background-color: transparent;
  border-radius: 16px;
  display: inline-block;
  line-height: 28px;
  padding: 0 14px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.light .con-button {
  color: #000;
}

.con-button.blue {
  color: #FFF;
  background: var(--link-color);
  border: 2px solid var(--link-color);
}

.con-button.blue:hover,
.con-button.blue:active {
  color: #FFF;
  background: var(--link-hover-color);
  border: 2px solid var(--link-hover-color);
}

.con-button.outline {
  color: #000;
  background: #fff;
  border: 2px solid rgb(0, 0, 0);
}

.con-button.outline:hover,
.con-button.outline:active {
  color: #fff;
  background: #000;
}

/* progressive section appearance */
main .section-wrapper[data-section-status='loading'],
main .section-wrapper[data-section-status='initialized'] {
  /*display: none;*/
}

/* progressive block appearance */
main .section-wrapper > div > [class] {
  display: none;
}

main .section-wrapper > div > [data-block-status='loaded'] {
  display: block;
}
